body{
	font-family: "Segoe UI",sans-serif;
	font-size: 16px;
	letter-spacing: -0.02em;
	color: #eeeeee;
	line-height: 1.2em;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
@font-face {
    font-family: "Pacifico";
    src: url(./Pacifico.ttf) format("truetype");
}
.clearer {
	clear: both;
}
#header{
	color: #AAFF00;
	font-family:"Pacifico";
	font-size: 2em;
	width: 960px;
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -480px;
}
#header h1{
	margin-top: 20px;
	float:left;
	font-size: 30px;
	margin-left: 12px;
}
.separator{
	border-bottom: 1px solid #121212;
	box-shadow: 0 1px #2A2A2A;
	position: fixed;
	top: 68px;
	z-index:10;
	width: inherit;
}

#top-container{
	margin-top: 90px;
}
.fb-like {
	width: 450;
	float: right;
	z-index: 12;
}
.container{
	padding: 0px;
	text-align: center;
	width: 600px;
	margin: 0 auto;
}

table{
	text-align: left !important;
}
table td{
	padding: 6px;
}
input[type="text"],input[type="number"],select{
	background-color:#272828;
	border:1px solid #181818;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0 1px 2px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 2px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.4);
	-webkit-box-shadow: 0 1px 2px rgba(255,255,255,.1), inset 0 1px 2px rgba(0,0,0,.4);
	color:#686868;
	font-family:Helvetica, Arial, sans-serif;
	height:35px;
	margin:10px 3px;
	text-indent:7px;
	text-shadow:0 1px 0 #000;
	width:255px;
}
input[type="text"],input[type="number"],select:focus{
	outline:none;
	background-color:#272828;
	color:#888888;
	text-shadow:none;
	-webkit-box-shadow: 0 0 5px #AAFF00, inset 0 1px 1px #000;
	-webkit-transition:background-color .5s ease-in;
	-moz-transition:color 2s ease-in;
	-o-transition:color .3s ease-in;
	transition:color .3s ease-in;
}
input[type="number"]{
	min-width: 230px;
	padding-left: 10px; 
}
input[type="submit"],button{
	color: #EEEEEE;
	display: inline-block;
	background-color: #2daebf;
	text-align: center;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	border-radius: 3px;
	margin: 0px 0px 20px 0px;
}
input[type="submit"]:hover{
	background-color:#007d9a;
}
.units{
	min-width: 100px;
	max-width: 150px;
	padding-left: 10px; 
}
.form-container{
	background: rgba(0, 0, 0, 0.4);
	margin: 0px auto;
	padding: 0px 50px;
	margin: 0px auto;
	margin-top: 6%;
}
#filter-form-container table,#frequency-form-container table,#method-form-container table,#micro-output-output table{
	margin: 0px auto;
}

h2{
	color: #3299bb;
	display: block;
	font: 30px/1 "ProximaNova",Helvetica,Arial,sans-serif;
	text-transform:capitalize;
	margin-top: 10px;
}

h2 span{
	color: #EEEEEE;
}

#background{
	position: fixed;
	z-index:-100;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transition: background 800ms ease;
	-moz-transition: background 800ms ease;
	-ms-transition: background 800ms ease;
	-o-transition: background 800ms ease;
	transition: background 800ms ease;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #555a5f), color-stop(100%, #1c1e20));
	background: -moz-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background: -webkit-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
	background-color: #2b2b2b;
}

#footer{
	font-size: 12px;
	width: 100%;
	position: fixed;
	bottom: 0px;
	text-align: center;
	background: #121212;
	color: #EEEEEE;
}
